@import 'variables';

.contacts-container {
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
    margin-bottom: 50px;

    @media (max-width: 800px) {
        flex-direction: column;
        align-items: center;
    }

    & .phones {
        display: flex;
        flex-direction: column;
    }

    & a {
        font-size: 28px;
        font-weight: 700;
        margin-top: 10px;

        @media (max-width: 600px) {
            font-size: 18px;
        }
    }

    &_item {
        margin-top: 50px;
    }
}

.send-info {
    display: flex;
    flex-direction: column;
    max-width: 500px;

    @media (max-width: 800px) {
        width: 100%;
    }

    & p {
        font-weight: 700;
    }

    &_item {
        display: flex;
        flex-direction: column;
        margin: 20px 0;

        & label {
            font-weight: 700;
            margin-bottom: 10px;
        }

        & input,
        & textarea {
            padding: 20px;
            border-radius: 16px;
            border: solid 1px #04022A66;
            font-size: 20px;

            @media (max-width: 600px) {
                font-size: 14px;
            }
        }

        & textarea {
            resize: none;
        }
    }
}

.button {
    color: $main-color-text2;
   border: 1px solid $main-color-text2;
    align-self: baseline;
    padding: 18px 100px;

    @media (max-width: 500px) {
        align-self: center;
        width: 100%;
    }

    &:hover {
        background: $bg-color-1;
        color: $main-color-text1;
        border-color: $main-color-text1;
    }
}