@import 'variables';

.download {
     
    display: flex;
    // align-items: center;
    // justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    padding: 0 30px;
    margin-bottom: 50px;

    &_items {
        display: flex;
        flex-direction: column;
        // margin: 28px;
        // width: 480px;

        &_title {
            font-weight: 600;
            font-size: 20px;
        }
    }
}

.item {
    border-radius: 16px;
    box-shadow: 0px 4px 40px 0px #04022A1A;
    padding: 24px;
    // height: 390px;
    display: flex;
    flex-direction: column;

    &_image-container {
        border-radius: 16px;
        background-color: #F3F3F4;
        display: flex;
        justify-content: center;
        align-items: center;
        // height: 356px;
        padding: 20px;

        // .inside-img {
        //     position: relative;
        //     display: flex;

        //     .img-absolute {
        //         position: absolute;
        //         top: 14px;
        //         left: 86px;
        //     }
        // }
    }

    p {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 1px;
    }

    &_link {
        border-bottom: solid 1px #C4C4C4;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        margin-top: 20px;
        cursor: pointer;

        p {
            margin: 0 0 0 10px;
        }

        &:hover .arrow {
            transform: translateX(5px);
            transition: all 0.3s;
        }
    }
}

.button {
    background: linear-gradient(90deg, #742AA7 0%, #0D3E93 100%);
    color: $main-color-text1;
    border: none;
    border-radius: 70px;
    margin-top: 64px;
    margin-bottom: 20px;
    
    p {
        margin: 0;
    }
}

.center {
    display: flex;
    align-items: center;
}

