@import "variables";

.header {
    display: flex;
    color: $main-color-text1;
    align-items: center;
    justify-content: space-between;
    padding: 34px 0;
    position: fixed;
    width: 1300px;
    z-index: 10;

    &_list {
        display: flex;
        font-weight: 300;
        font-size: $medium-text;
    }
    &_item {
        margin: 0 30px;
    }
    &_buttons-container {
        display: flex;
        margin-right: 20px;
        // button {
        //     background-color: $main-color-text1;
        // }
        // button:hover {
        //     border: 2px solid $main-color-text1;
        //     background-color: transparent;
        //     color: $main-color-text1;
        // }
    }
    &_select-lang {
        display: flex;
        align-items: center;
        img {
            margin: 0 5px 0 10px;
            cursor: pointer;
        }
    }
}


