@import "variables";

.header {
    display: flex;
    // color: $main-color-text1;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;

    &_list {
        display: flex;
        font-weight: 300;
        font-size: $medium-text;
    }
    &_item {
        margin: 0 30px;
    }
    &_buttons-container {
        display: flex;
        margin-right: 20px;
    }
    &_select-lang {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        img {
            margin: 0 5px 0 10px;
        }

        &:hover .drop-menu {
            display: block;
        }
        &:hover .menu-arrow-lang {
            rotate: 180deg;
        }
    }
}

.menu-arrow {
    position: absolute;
    top: 10px;
    right: 14px;
    transition: all 0.3s linear;
}

.aaa:hover .drop-menu {
    display: block; 
}

.drop-menu {
    position: absolute;
    top: 40px;
    right: -20px;
    background-color: $main-color-text2;
    padding: 20px;
    border-radius: 15px;
    display: none;

    & p:hover {
        color: red;
    }
}

.container {
    margin: 0 auto;
    max-width: 1300px;
}

.button-white {
    border-color: $main-color-text1;
    background-color: $main-color-text1;
    color: $main-color-text2;
}

.button-white:hover {
    background-color: transparent;
    color: $main-color-text1;
}

.button-black {
    border-color: $main-color-text2;
    background-color: $main-color-text1;
    color: $main-color-text2;
}

.button-black:hover {
    background-color: $main-color-text2;
    color: $main-color-text1;
}