@import "variables";

.text-center {
    text-align: center;
}

.block-title {
    font-size: 30px;
}

.question {
    font-size: 20px;
    margin: 0;
}

.faq-container {
    display: flex;
    flex-direction: column;
    padding: 0 50px;

    @media (max-width: 600px) {
        padding: 0 10px;
    }
}

.faq-title {
    text-align: center;
    color: #2d2d2d;
}

.faq__item-closed {
    padding: 29px 40px 29px 40px;
    margin-bottom: 20px;
    box-shadow: 0 4px 54px rgba(146, 146, 146, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq__item-open {
    padding: 29px 40px 29px 40px;
    margin-bottom: 20px;
    box-shadow: 0 4px 54px rgba(146, 146, 146, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.faq__open-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 15px;
}

.faq__item-open-text {
    transition: 0.3s;
}

.closed {
    // width: -webkit-fill-available;
    padding: 29px 40px 29px 40px;
    margin-bottom: 20px;
    color: #215AC1;
    box-shadow: 0 4px 54px rgba(146, 146, 146, 0.15);
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}
.close_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        transition: all 0.3s;
    }
}

.open {
    height: auto;
    // width: -webkit-fill-available;
    padding: 29px 40px 29px 40px;
    margin-bottom: 20px;
    color: #fff;
    box-shadow: 0 4px 54px rgba(146, 146, 146, 0.15);
    border-radius: 10px;
    background-color: #215AC1;
    transition: all 0.3s;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .buttons {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        button {
            border-color: #215AC1;
            color: #215AC1;
            margin: 0 5px;
            padding: 5px 10px;

            &:hover {
                background-color: #215AC1;
                color: $main-color-text1;
            }
            &:active {}
        }
    }

    .input-container {
        position: relative;
        margin-bottom: 20px;

        img {
            position: absolute;
            top: 50%;
            right: 8px;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }
    }

    input {
        padding: 16px 20px;
        border-radius: 50px;
        border: solid 1px #04022A66;
        font-size: 20px;

        &:focus {
            border: solid 1px #04022A66;
            outline: none;
        }
    }
}


.answer_list {
    list-style: disc;

    li {
        margin: 10px 0;
    }
}
