@import 'variables';

.introduction {
    p {
        color: #04022A80;
        font-size: 18px;
    }
}

.navigation {
    li {
        margin: 8px 0;
        color: $main-color-text2;
        cursor: pointer;
        font-size: 20px;
    }
}

.list { 
    font-size: 20px;
    padding: 0 30px;

    ol li {
        list-style: none;
        margin: 25px 0;
        line-height: 30px;
    }

    & ol {
        counter-reset: item;
    }

    & ol li:before {
        content: counters(item, ".")".";
        counter-increment: item;
        margin-right: 10px;
    }
}


// .list {
//     counter-reset: section;

//     & ol {
//         counter-reset: subsection;
//     }
// }
  
//   .list ol {
//     counter-reset: subsection;
//   }
  
//   .list ol ol {
//     counter-reset: subsubsection;
//   }
  
//   .list li:before {
//     content: counters(section, ".") " ";
//     counter-increment: section;
//   }
  
//   .list ol li:before {
//     content: counters(section, ".") " " counters(subsection, ".") " ";
//     counter-increment: subsection;
//   }
  
//   .list ol ol li:before {
//     content: counters(section, ".") " " counters(subsection, ".") " " counters(subsubsection, ".") " ";
//     counter-increment: subsubsection;
// }

// .list {
//     counter-reset: section 1;
//   }
  
//   .list ol {
//     counter-reset: subsection 1;
//   }
  
//   .list ol ol {
//     counter-reset: subsubsection 0;
//   }
  
//   .list li:before {
//     content: counters(section, ".") " ";
//     counter-increment: section;
//   }
  
//   .list ol li:before {
//     content: counters(section, ".") " " counters(subsection, ".") " ";
//     counter-increment: subsection;
//   }
  
//   .list ol ol li:before {
//     content: counters(section, ".") " " counters(subsection, ".") " " counters(subsubsection, ".") " ";
//     counter-increment: subsubsection;
//   }
  
  