@import 'variables';

.first-section {
    display: flex;

    &_subitem {
        display: flex;
        align-items: center;
        width: 50%;

        & img {
            align-self: end;
        }
    }

    &_description {
        display: flex;
        flex-direction: column;
        max-width: 304px; 
        margin: 0 15px;
    }

    &_text-color {
        color: $main-color-text1;
    }

    &_text-end {
        text-align: end;
    }
    
    &_pos-end {
        align-self: end;
    }
    &_pos-start {
        align-self: start;
    }

    &_img-container {
        max-width: fit-content;
        max-width: 400px;
    }

    &_button {
        margin-bottom: 20px;
    }
}

.bg_color {
    background: linear-gradient(90deg, #742AA7 0%, #0D3E93 100%);
}

.possibilities {
    &_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
        grid-gap: 10px;
    }

    &_item {
        border: none;
        border-radius: 16px;
        position: relative;
        padding: 32px;
        cursor: pointer;
        &.span-two {
            grid-row: span 2;
        }

        &:hover .possibilities_arrow {
            transform: translateX(5px);
        }
    }

    &_bg-color1{
        background: linear-gradient(120deg, #732ba7, rgb(115 43 167 / 57%));
    }

    &_bg-color2 {
        background: linear-gradient(120deg, #215ac1, rgb(33 90 193 / 57%));
    }
    &_bg-color3 {
        background-color: #F3F3F4;
    }

    &_h3,
    &_p {
        color: $main-color-text1;
    }
    
    &_arrow {
        position: absolute;
        top: 30px;
        right: 16px;
        transition: all 0.3s;
    }
}

.bg-linear {
    background: linear-gradient(322deg, rgb(255 255 255 / 30%), transparent)
}

.security {
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding: 0 30px;

    & img {
        max-height: 500px;
    }

    &_text {
        max-width: 500px;
        margin: 0 50px 0 0;
    }

    &_button {
        color: $main-color-text1;
        background: linear-gradient(90deg, #742AA7 0%, #0D3E93 100%);

    }
}

.advantages {
    display: grid;
    grid-template-columns: 500px repeat(4, 1fr);
    column-gap: 20px;
    padding: 0 30px;

    &_item {
        padding: 28px;
        text-align: start;
        border-top: 1px solid #31313126;

        &_text {
            font-size: 22px;
            font-weight: 600;
        }
    }
    &_bg-col {
        background: linear-gradient(90deg, #CFA8EA 0%, #9DBAEE 100%);
    }
    &_border-top {
        border-radius: 20px 20px 0 0;
        padding-top: 28px;
    }
    &_border-bottom {
        border-radius: 0 0 20px 20px;
    }
    // &_shadow {
    //     box-shadow: 1px 0 6px rgba(0, 0, 0, 0.5);
    // }
}

.justify {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.arrow-vector {
    fill: $main-color-text2;
}

.info-for-companies {
    padding: 0 30px;
    &_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }
    &_item:hover {
        background-image: linear-gradient(120deg, #215ac1, rgb(33 90 193 / 57%));
        transition: all linear 0.3s;
    }
    &_h3,
    &_p {
        color: $main-color-text2;
    }
    &_item:hover &_h3,
    &_item:hover &_p {
        color: $main-color-text1;
    }
    &_item:hover .arrow-vector {
        fill: $main-color-text1;
    }
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_text-center {
        text-align: center;
    }

    &_item-container {
        display: flex;

        &_item {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            margin: 50px;

            &_logo-container {
                width: 100px;
                height: 100px;
                background-color: #F3F3F4;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    
}





  
  
  
  
  
  
  
  
  
  
  
  

