@import 'variables';

.first-section {
    display: flex;

    &_subitem {
        display: flex;
        align-items: center;
        width: 50%;
    }

    &_description {
        display: flex;
        flex-direction: column;
        max-width: 304px; 
        margin: 0 15px;
    }

    &_text-color {
        color: $main-color-text1;
    }

    &_text-end {
        text-align: end;
    }
    
    &_pos-end {
        align-self: end;
    }
    &_pos-start {
        align-self: start;
    }

    &_img-container {
        max-width: fit-content;
        max-width: 400px;
    }
}

.bg_color {
    background: linear-gradient(90deg, #742AA7 0%, #0D3E93 100%);
}

.possibilities {
    &_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
        grid-gap: 10px;
    }

    &_item {
        border: none;
        border-radius: 16px;
        position: relative;
        padding: 32px;
        cursor: pointer;
        &.span-two {
            grid-row: span 2;
        }

        &:hover .possibilities_arrow {
            transform: translateX(5px);
        }
    }

    &_bg-color1{
        background-color: #732BA7;
    }

    &_bg-color2 {
        background-color: #215AC1;
    }

    &_h3,
    &_p {
        color: $main-color-text1;
    }
    
    &_arrow {
        position: absolute;
        top: 30px;
        right: 16px;
        transition: all 0.3s;
    }
}

.security {
    display: flex;
    align-items: center;
    margin-top: 50px;

    &_button {
        color: $main-color-text1;
        background: linear-gradient(90deg, #742AA7 0%, #0D3E93 100%);

    }
}

.advantages-item {
    background-color: antiquewhite;
    padding: 28px;
    text-align: start;
    border-top: 1px solid #31313126;
    border-bottom: 1px solid #31313126;

    &_text {
        font-size: 22px;
        font-weight: 600;
    } 
}
.just {
    display: flex;
    justify-content: center;
    align-items: center;
}