@import 'variables';

.first-section {
    display: flex;

    &_subitem {
        display: flex;
        align-items: center;
        width: 50%;
    }

    &_description {
        display: flex;
        flex-direction: column;
        max-width: 304px; 
        margin: 0 15px;
    }

    &_text-color {
        color: $main-color-text1;
    }

    &_text-end {
        text-align: end;
    }
    
    &_pos-end {
        align-self: end;
    }
    &_pos-start {
        align-self: start;
    }

    &_img-container {
        max-width: fit-content;
        max-width: 400px;
    }
}

.bg_color {
    background: linear-gradient(90deg, #742AA7 0%, #0D3E93 100%);
}

.border {
    border: 1px solid $main-color-text2;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 10px;
}   

.border.span-two {
    grid-row: span 2;
}