@import 'variables';

.dober-container {
    display: flex;
    align-items: center;
    margin: 50px 0;
    padding: 0 30px;

    @media (max-width: 1150px) {
        margin: 20px 0;
    }


    &_justify {
        justify-content: space-between;

        @media (max-width: 1150px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &_p {
        margin: 20px 0;
        font-size: 26px;
        color: $main-color-text1;
    }

    &_item {
        margin: 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 600px) {
            max-width: 50px;
        }
        img {
            width: 100%;
        }
    }
}

.text-container {
    padding: 50px 0;
    @media (max-width: 1150px) {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
}

.bg_color {
    background: linear-gradient(90deg, #742AA7 0%, #0D3E93 100%);
}

.flex {
    display: flex;
}

.h2 {
    max-width: 754px;
    color: $main-color-text1;
    font-size: 30px;

    @media (max-width: 1150px) {
        font-size: 22px;
        text-align: center;
    }

    @media (max-width: 600px) {
        font-size: 16px;
    }
}

.text {
    color: $main-color-text1;
    @media (max-width: 1150px) {
        text-align: center;
    }
}